*.swp
*.tar.xz
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build/
build-aux/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
m4/
perl/MYMETA.json
perl/MYMETA.yml
perl/Makefile.PL
perl/Makefile.perl
perl/blib/
perl/perl_wrap.*
perl/pm_to_blib
perl/xwiimote.*
python/setup.py
stamp-h1
xwiimote.py
xwiimote_wrap.c

